:root {
	--color-dark: rgb(24, 12, 14);
	--color-mid: #CDC9C3;
	--color-light: rgb(251, 245, 233);
	--max-width: 500px;
}

body {
    background: var(--color-dark);
	padding: 0.5em; 
	color: var( --color-light );
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, serif;
	font-size: 16px;
	font-style: normal;
	text-align: center;
}

@media screen and (min-width: 600px) {
	body {
		padding: 5.0em;
	}
}

h1, h2, p {
	margin: 0;
	padding: 0;
	text-align: center;
}

p {
	font-size: 1.25em;
	line-height: 1.45em;
}
