<footer>
  <div class="footer-links">
    <a href="https://parth.ninja" class="footer-link">
      © Parth Shiralkar, 2022</a
    >
    ※
    <a
      class="footer-link"
      href="https://github.com/partheus/food/"
      target="_blank"
      >< view sauce /></a
    >
  </div>
</footer>
