<footer>
    <a href="https://parth.ninja" class="link"> © Parth Shiralkar, 2022</a>
    <p class="">
      <a href="https://github.com/partheus/food/" target="_blank"
        >< view sauce /></a
      >
    </p>
  </footer>