<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/accessibility.css" />
    <link rel="icon" href="/img/restaurant.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    <div class="hero">
    <h1 class="pagetitle">
      <a href="/">{{ pageTitle }}</a>
    </h1>
    <h4 class="pagedescription">{{ description }}</h4>
  </div>
    <div class="content">
      {{ content }}
    </div>

    {% include footer %}
    <!-- {% include svg-bg %} -->
  </body>
</html>
